---
title: Mon Titre
date: 2023-09-22
tags:
  - Portfolio
  - Travail
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("work")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout title="Projets | Damien Gennevoise" description="Mes projets">
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Mes projets"
				tagline="Découvrez quelques projets récents ci-dessous."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
